/* 헤더 스타일 */
header {
  position: fixed; /* 화면 상단에 고정 */
  top: 0; /* 상단 위치 설정 */
  left: 0; /* 좌측 위치 설정 */
  width: 100%; /* 전체 화면 너비 */
  background-color: transparent; /* 배경색 투명 */
  color: black; /* 텍스트 색상 */
  z-index: 1000; /* 다른 요소 위에 배치 */
  padding: 2px 0; /* 위아래 간격 */
}

/* 헤더 안의 컨테이너 스타일 */
header .container {
  width: 100%; /* 전체 화면 너비 */
  max-width: 1800px; /* 최대 너비 제한 */
  margin: 0 auto; /* 가운데 정렬 */
  padding: 10px 20px; /* 안쪽 여백 설정 */
}

/* 네비게이션 리스트 스타일 */
nav ul {
  display: flex; /* 수평 정렬 */
  justify-content: space-between; /* 항목 간 간격 동일하게 분배 */
  list-style: none; /* 기본 리스트 스타일 제거 */
  margin: 0; /* 외부 여백 제거 */
  padding: 0; /* 내부 여백 제거 */
}

/* 리스트 항목 스타일 */
nav ul li {
  display: flex; /* 수평 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}

/* 로고 스타일 */
nav .logo {
  margin-right: auto; /* 다른 요소와의 간격 확보 */
  margin-left: 0; /* 좌측 여백 제거 */
}

nav .logo img {
  max-width: 30px; /* 최대 너비 설정 */
  height: auto; /* 높이를 비율에 맞게 조정 */
}

/* 프로젝트 링크 스타일 */
nav .project {
  text-align: center; /* 가운데 정렬 */
}

/* CV 링크 스타일 */
nav .cv {
  margin-left: auto; /* 다른 요소와의 간격 확보 */
  margin-right: 0; /* 우측 여백 제거 */
}

/* 네비게이션 링크 스타일 */
nav ul li a {
  color: #333; /* 텍스트 색상 */
  font-family: "Roboto Mono", serif; /* 글꼴 설정 */
  font-optical-sizing: auto; /* 글꼴 크기 자동 조정 */
  text-decoration: none; /* 밑줄 제거 */
  font-size: 1.5rem; /* 글자 크기 */
  font-weight: 600; /* 글자 두께 */
  transition: color 0.3s ease; /* 색상 전환 효과 */
}

/* 프로젝트 및 CV 링크의 호버 및 포커스 효과 */
nav ul li a:hover,
nav ul li a:focus {
  color: black; /* 호버 시 텍스트 색상 */
  font-weight: 700; /* 호버 시 글자 두께 */
}