/* Info 섹션 전체 스타일 */
.info {
  display: flex; /* 수평 정렬 */
  justify-content: flex-start; /* 왼쪽 정렬 */
  padding: 5rem 0 1rem; /* 위쪽, 아래쪽, 아래쪽 여백 */
  background-color: transparent; /* 배경 투명 */
  margin-left: 0; /* 왼쪽 여백 없음 */
}

/* Info 컨테이너 스타일 */
.info-container {
  display: flex; /* 수평 정렬 */
  justify-content: space-between; /* 항목 간격 동일 분배 */
  width: 100%; /* 컨테이너 너비 전체 */
  max-width: 1800px; /* 최대 너비 제한 */
  flex-wrap: wrap; /* 항목 줄바꿈 허용 */
  margin-left: 1rem; /* 왼쪽 여백 */
}

/* 각 Info 섹션 스타일 */
.info-section {
  flex: 1; /* 동일 비율로 크기 조정 */
  margin: 0; /* 외부 여백 없음 */
  padding: 0 45px 25px 0; /* 안쪽 여백 설정 (우측, 하단) */
  background-color: transparent; /* 배경 투명 */
  box-shadow: none; /* 그림자 효과 없음 */
  min-width: 250px; /* 최소 너비 */
}

/* Info 섹션 제목 스타일 */
.info-section h2 {
  font-size: 0.9rem; /* 글자 크기 */
  margin-bottom: 5px; /* 아래쪽 간격 */
  color: #666; /* 텍스트 색상 */
  font-family: "Roboto", serif; /* 글꼴 설정 */
  font-optical-sizing: auto; /* 글꼴 크기 자동 조정 */
  text-transform: lowercase; /* 소문자 변환 */
}

/* Info 섹션 본문 스타일 */
.info-section p {
  font-size: 0.9rem; /* 글자 크기 */
  color: #333; /* 텍스트 색상 */
  font-optical-sizing: auto; /* 글꼴 크기 자동 조정 */
}

/* Info 섹션 링크 스타일 */
.info a {
  color: #333; /* 텍스트 색상 */
  text-decoration-style: dotted; /* 점선 밑줄 */
}

/* Info 섹션 링크 호버 효과 */
.info a:hover {
  color: black; /* 텍스트 색상 변경 */
  font-weight: 600; /* 글자 두께 */
  text-decoration-style: solid; /* 밑줄 실선 변경 */
}

/* 작은 화면 스타일 (1024px 이하) */
@media (max-width: 1024px) {
  .info-section h2,
  .info-section p {
    font-size: 0.9rem !important; /* 강제로 폰트 크기 고정 */
  }
}

/* 더 작은 화면 스타일 (768px 이하) */
@media (max-width: 768px) {
  .info-section h2,
  .info-section p {
    font-size: 0.9rem !important; /* 강제로 폰트 크기 고정 */
  }
}